@using Catalog.Domain.Entities
@model IEnumerable<Store>

@{
    ViewBag.Title = "Home Page";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        Url = Url.Action("ListGoodsByStoreIdUsingAjax"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        OnSuccess = "processData"
    };
}

<script type="text/javascript">
    function Hide() {
        $('.container:last').css('display', 'none');
    };

    function processData(data) {
        $('.container').css('display', 'block');
        var title = 'Таблица товаров в магазине "' + data[0].StoreName + '"';
        $('#tableGoodsHeader').text(title);
        var target = $("#tableBody");
        target.empty();
        for (var i = 0; i < data.length; i++) {
            var good = data[i];
            target.append("<tr><td>" + good.Name + "</td><td>"
                + good.Description + "</td></tr>");
        }
    };
</script>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<div class="container">
    <h2 style="text-align: center">Таблица магазинов</h2>
    
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="text-align: center; font-size: 16pt; width: 20%;">Наименование</th>
            <th style="text-align: center; font-size: 16pt; width: 30%;">Адрес</th>
            <th style="text-align: center; font-size: 16pt; width: 30%;">Режим работы</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var store in Model)
        {
            <tr>
                <td>@store.Name</td>
                <td>@store.Address</td>
                <td>@store.Mode</td>
                <td>
                    @*@Html.ActionLink("Просмотр товаров", "ListGoodsByStoreId", new {storeId = store.Id})*@
                    @Ajax.ActionLink("Просмотр товаров", "ListGoodsByStoreIdUsingAjax", new { storeId = store.Id }, new AjaxOptions
                    {
                        Url = Url.Action("ListGoodsByStoreIdUsingAjax", new { storeId = store.Id }),
                        OnSuccess = "processData"
                    })
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div id="loading" class="load" style="display:none">
    <p>Поиск товаров...</p>
</div>

<div class="container" style="display: none;">
    <h2 id="tableGoodsHeader" style="text-align: center"></h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="text-align: center; font-size: 16pt; width: 20%;">Название</th>
            <th style="text-align: center; font-size: 16pt; width: 30%;">Описание</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
    
    <button id="hideTablesOfGoods" class="btn-danger" onclick="Hide()">Скрыть результаты поиска</button>
</div>