@using Catalog.Domain.Entities
@model IEnumerable<Store>

@{
    ViewBag.Title = "Home Page";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        Url = Url.Action("ListGoodsByStoreIdUsingAjax"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        OnBegin = "showWarning",
        OnSuccess = "processData"
    };
}

<script type="text/javascript">
    function Hide() {
        $('.container:last').hide();
    };

    function processData(data) {
        $('#loading').css('display', 'none');
        $('.container:last').css('display', 'block');
        var title = 'Таблица товаров в магазине "' + data[0].StoreName + '"';
        $('caption:last').text(title);
        //$('#tableGoodsHeader').text(title);
        var target = $("#tableBody");
        target.empty();
        for (var i = 0; i < data.length; i++) {
            var good = data[i];
            target.append("<tr><td>" + good.Name + "</td><td>"
                + good.Description + "</td></tr>");
        }
    };

    function showWarning() {
        $('#loading').show();
    };
</script>

<style>
    caption {
        font-size: 12pt;
        font-weight: bold;
        color: black;
    }
</style>

<div id="loading" style="display: none; color: red;">
    <p>Поиск товаров...</p>
</div>

<div class="row">
    <div class="container col-lg-8">
    
        <table class="table-bordered table-striped">
            <caption>Таблица магазинов</caption>
            <thead>
            <tr>
                <th style="text-align: center; font-size: 14pt; width: 20%;">Наименование</th>
                <th style="text-align: center; font-size: 14pt; width: 30%;">Адрес</th>
                <th style="text-align: center; font-size: 14pt; width: 30%;">Режим работы</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var store in Model)
            {
                <tr>
                    <td>@store.Name</td>
                    <td>@store.Address</td>
                    <td>@store.Mode</td>
                    <td>
                        @*@Html.ActionLink("Просмотр товаров", "ListGoodsByStoreId", new {storeId = store.Id})*@
                        @Ajax.ActionLink("Просмотр товаров", "ListGoodsByStoreIdUsingAjax", new {storeId = store.Id}, new AjaxOptions
                        {
                            Url = Url.Action("ListGoodsByStoreIdUsingAjax", new {storeId = store.Id}),
                            OnBegin = "showWarning",
                            OnSuccess = "processData"
                        })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="container col-lg-4" style="display: none;">
        <table class="table-bordered table-hover">
            <caption></caption>
            <thead>
            <tr>
                <th style="text-align: center; font-size: 14pt; width: 20%;">Название</th>
                <th style="text-align: center; font-size: 14pt; width: 30%;">Описание</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    
        <button id="hideTablesOfGoods" class="btn-danger" onclick="Hide()">Скрыть результаты поиска</button>
    </div>
</div>

<br/>