@using Catalog.Domain.Entities
@model IEnumerable<Good>

@{
    ViewBag.Title = "Список товаров в магазине";
}

<div class="container">
    <h2 style="text-align: center">Таблица товаров в магазине "@ViewBag.StoreName"</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center; font-size: 16pt; width: 20%;">Название</th>
                <th style="text-align: center; font-size: 16pt; width: 30%;">Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var good in Model)
            {
                <tr>
                    <td>@good.Name</td>
                    <td>@good.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>

